{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="info">
            <h2>Within List <br><span>Be Aggressive!</span></h2>
            <p>This site allows you to add assessments to different modules,
                avoiding the possibility of having multiple assessments mixed up with a
                wrong deadline. All added assessments can be neatly displayed on the
                web page, and assessments with different titles and states under
                different modules can also be screened according to Module code,
                title and state</p>
            <a href="/list" class="info-btn">Get Started</a>
        </div>
    </div>
{% endblock %}